.flat-btn {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 2);
}

.panel {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 2);
}

.check-box .box,
.text-input,
.combo-box,
.button,
.flat-panel,
.text-area .content,
.menu-bar {
    -fx-background-color:#e6e6e6;
}

.combo-box:hover,
.button:hover {
    -fx-background-color:#ccc;
}

.progress-bar {
    -fx-accent: #6680e6;
}

.progress-bar > .track {
    -fx-background-color: #e6e6e6;
}

.progress-bar > .bar {
    -fx-background-insets: 0;
}

.label {
    -fx-text-fill:#333;
}